.logo {
    padding-left: 30px;
    max-width: 150px;
}

nav {
    background: linear-gradient(90deg, #2f1624, #ab1e4c);
}

.nav-link {
   font-family: 'Gill Sans';
   text-transform: uppercase;
   color: white;
    padding-left: 15px;
}

.nav-link:hover {
    color: red;
 }

table {
    margin: auto;
}

td {
    color: #8a1538;
}

section {
    margin-top: 20px;
}

p {
    text-align: justify;
}

footer {
    background: linear-gradient(90deg, #2f1624, #ab1e4c);
    color: white;
    padding: 5px;
}

h2 {
    color: darkgreen;
 }

.bg-danger {
    color: rgb(255, 255, 255);
 }

 ul > li {
    list-style-type: circle;
 }

 #statisztika {
    margin-top: 20px;
 }