body {
    background-image: url(source/erdo.jpg);
    background-color: rgba(204,255,204, 0.6);
    color: #004400;
    margin: 25px 240px 100px 240px;
}

#header-text {
    text-align: center;
}

center:after {
    font-size: +1;
}

a {
    color: #007700
}

table {
    text-align: center;
    border: solid;
    border-width: 2px;
    width: 480px;
}

td {
    border: groove;
    border-width: 4px;
    padding: 8px;
}

th {
    text-align: center;
    width: 120px;
    border: groove;
    border-width: 4px;
    padding: 8px;
}

.td-center {
    text-align: center;
}

.td-right {
    text-align: right;
}

p {
    text-align: center;
}

hr {
    color: #004400;
    background-color: #004400;
    height: 4px;
    width: 100%;
}

.gif {
    text-align: right; width: 160px;
}